body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  background: var(--background);
  min-height: 100vh;
  color: var(--font-color);

}

.App.dark {
  background-color: black;
  color: white;
}

#dark-button {
  text-align: right;
  border-radius: 10px;
}

.new-movie-form {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 2px solid;
  background-color: rgba(245, 245, 245, 0.103);
  border-radius: 10px;
  border-bottom: 5px solid;
  color: rgb(33, 74, 96);
  position: relative; /* or absolute */
}

section {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.new-movie-form button {
  width: 75px;
  margin-top: 15px;
  text-align: center;
  align-self: center;
  background-color: rgba(248, 246, 250, 0.493);
  border-radius: 15px;
}

.new-movie-form h3 {
  margin-bottom: 1rem;
  text-align: center;
 
}

.navbar-header{
  background-color: red;
  text-align: right;
}

#main-movie-list{
  text-align: center;
}

#footer {
  position: fixed;
  /* negative value of footer height */
  height: 180px;
  background-color: red;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
}

#signin{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}